

.task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0.75rem;
  padding: 1rem;
  height: 4.5rem;

  background-color: var(--gray500);
  border: 1px solid var(--gray400);
  border-radius: 0.5rem;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);

  color: var(--gray100);
  font-weight: 400;
  line-height: 140%;
  font-size: 0.875rem;
}

.task > div {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
}


.task > .deleteButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 0.25rem;
  color: var(--gray300);

  width: 1.5rem;
  height: 1.5rem;
}

.task > .deleteButton:hover {
  background-color: var(--gray400);
  color: var(--danger);
}

