

.input {
  height: 3.37rem;
  border-radius: 0.5rem;
  padding: 1rem;
  border-style: solid;
  border-color: var(--gray700);
  background-color: var(--gray500);
  border-width: 1px;
  color: var(--gray100);
  font-size: 1rem;
}

.input::placeholder {
  color: var(--gray300);
}


.input:active, .input:focus {
  outline: none;
  border-color: var(--purple-dark);
}