 
 @font-face {
  font-family: 'Inter';
  src: url( './assets/fonts/Inter-Regular.ttf');
  font-weight: normal;
 }

 @font-face {
  font-family: 'Inter';
  src: url( './assets/fonts/Inter-Bold.ttf');
  font-weight: bold;
 }

 :root {

  --purple: #8284FA;
  --purple-dark: #5E60CE;
  --blue: #4EA8DE;
  --blue-dark: #1E6F9F;
  --gray700: #0D0D0D;
  --gray600: #1A1A1A;
  --gray500: #262626;
  --gray400: #333333;
  --gray300: #808080;
  --gray200: #D9D9D9;
  --gray100: #F2F2F2;
  --danger: #E25858;

  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  background-color: var(--gray600);
  color: var(--gray300);
 }

 * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 }

 .App {
   align-items: center;
   display: flex;
   flex-direction: column;
   width: 100%;
   gap: 4rem;
 }

.App > div {
  width: 100%;
  max-width: 46rem;
}

@media (width < 755px) {
  .App > div {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (width < 400px) {
  :root {
    font-size: 0.8rem;

  }
}

