


.taksContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.taksContent {
  /* width: 46rem; */
  flex-direction: column;
  width: 100%;
  
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}


.createdTasksCounter, .completedTasksCounter {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}


.createdTasksCounter > span, .completedTasksCounter > span  {
  font-weight: 700;
  font-size: 0.875rem;
}

.createdTasksCounter > span {
  color: var(--blue);
}

.completedTasksCounter > span {
  color: var(--purple );
}


.tasksCounter {

}

